* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span {
  color: #F16D7F;
}

.header {
  background-color: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-left: 40px;
  font-size: 14px;
  line-height: 16px;
  display: block;
}

.menu__item--hidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.menu__item:hover,
.menu__item:focus,
.menu__item:active {
  .menu__submenu {
    display: block;
  }
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__submenu {
  position: absolute;
  top: 54px;
  left: -50%;
  display: none;
  min-width: 232px;
  padding: 32px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu__submenu-item {
  margin-bottom: 20px;
}

.menu__submenu-item {
  margin-bottom: 20px;
}

.menu__submenu-header {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.menu__submenu-list {
  margin-bottom: 20px;
  margin-top: 12px;
}

.menu__submenu-list-list {
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: 15px;
}

.menu__item-link-number {
  position: absolute;
  top: -7px;
  right: -3px;
  display: block;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-radius: 50%;

}

.main__section {
  margin-bottom: 95px;
  color: #222222;
}

.main__section--presentation {
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.main__section-container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}

.main__section-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.main__section-text {
  font-family: 'Lato';
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 45px;
}

.presentation {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.presentation__texts {
  padding: 15px;
  border-left: 12px solid #F16D7F;
  color: #222222;

  @media (max-width: 767px) {
    margin-left: 20px;
    margin-top: 145px;
    margin-bottom: 145px;
  }
}

.presentation__head {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;

  @media (max-width: 1199px) {
    font-size: 44px;
    line-height: 53px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 46px;
  }
}

.presentation__text {
  font-size: 32px;
  line-height: 27px;
  font-weight: 900;

  @media (max-width: 1199px) {
    font-size: 24px;
    line-height: 25px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 25px;
  }
}

.presentation__image {
  margin-left: -220px;

  @media (max-width: 1199px) {
    margin-left: 0;
    width: 386px;
    margin-right: 0px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.offers {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;
  }
}

.offers>.offers__item--big {
  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media (max-width: 767px) {
    padding: 30px;
  }
}

.offers__item {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.offers__item::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
}

.offers__item-texts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.offers__item-image {
  width: 100%;
  position: relative;
}

.offers__item-head {
  display: block;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.offers__item-text {
  display: block;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.products__list {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  justify-content: space-between;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 48%);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 100%);
  }
}

.products__item-image-button {
  position: relative;
}

.products__item {
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

.products__item-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  .products__item-icon {
    margin-right: 10px;
  }
}

.products__item:hover {

  .products__item-image-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.7);
  }

  .products__item-button {
    display: flex;
  }
}

.products__item-texts {
  padding: 20px 15px;
}

.products__item-image {
  width: 100%;
}

.products__item-head {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products__item-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5D5D5D;
}

.products__item-price {
  color: #F16D7F;
}

.products__more-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 40px;
  color: #F26376;
  border: 1px solid #F26376;
}

.products__more-button:hover {
  color: #FFFFFF;
  background-color: #F26376;
}
