.login-text {
  @include big-item-header;

  @media (max-width: $tablet-width) {
    width: 48%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  &__header {
    @include big-item-header;

    @media (max-width: $mobile-width) {
      margin-bottom: 30px;
      font-size: 14px;
    }
  }

  &__text {
    @include big-item-header;
    width: 100%;

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  &__item {
    @include big-item-header;
    width: 100%;
    margin-bottom: 15px;

    svg {
      margin-right: 25px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
}
