.pagination {
  @include flex(center, center);
  width: fit-content;
  margin: auto;
  padding: 15px;
  border: $light-grey-border;

  &__list {
    @include flex(center, center);
  }

  &__item {
    font-size: 16px;
    margin: 0 10px;
    color: $grey;

    &--active {
      color: $pink;
    }

    &--dot {
      margin: 0;
    }
  }

  &__button-prev {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }

  &__button-next {
    position: relative;
    top: 3px;
    margin-left: 10px;
  }
}
