.products {
  @include section-margin;

  &__header {
    @include section-header;
    font-weight: 700;
  }

  &__text {
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    justify-content: space-between;

    @media (max-width: $tablet-width) {
      grid-template-columns: repeat(2, 48%);
    }

    @media (max-width: $mobile-width) {
      grid-template-columns: repeat(1, 100%);
    }
  }

  &__item {
    margin-bottom: 30px;
    background-color: $item-back;

    &:last-child {
      @media (max-width: $mobile-width) {
        margin-bottom: 0;
      }
    }

    &:hover {
      .products__item-image-button::before {
        @include black-layout;
        z-index: 0;
      }

      .products__item-button {
        display: flex;
        z-index: 5;
      }
    }
  }

  &__item-image-button {
    position: relative;
  }

  &__item-button {
    @include center-element;
    @include add-basket-button($white, $black);
    display: none;
  }

  &__item-icon {
    margin-right: 10px;
  }

  &__item-texts {
    padding: 20px 15px;
  }

  &__item-image {
    width: 100%;
  }

  &__item-head {
    @include small-item-header;
    margin-bottom: 5px;
    color: #000000;
  }

  &__item-text {
    @include text;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #5D5D5D;
  }

  &__item-price {
    color: $pink-header;
  }

  &__more-button {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px 40px;
    color: $pink;
    border: 1px solid $pink;

    &:hover {
      color: $white;
      background-color: $pink;
    }

    @media (max-width: $mobile-width) {
      margin-top: 40px;
    }
  }
}
