.product-info {
  position: relative;
  z-index: 10;
  margin-top: -50px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }

  &__container {
    padding: 65px 0;
    border: $light-grey-border;
    text-align: center;
    background-color: $white;
  }

  &__info {
    width: 80%;
    margin: auto;
    padding-bottom: 65px;
    padding-top: 65px;
    border-bottom: $light-grey-border;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;

      @media (max-width: $mobile-width) {
        border-bottom: none;
      }
    }

    &:first-child {
      padding-top: 0;

      @media (max-width: $mobile-width) {
        padding-top: 0;
      }
    }

    @media (max-width: $mobile-width) {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  &__info-wrapper {
    width: 86%;
    margin: auto;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  &__category {
    position: relative;
    margin-bottom: 12px;
    padding: 12px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 63px;
      height: 3px;
      margin: auto;
      background-color: #EF5870;
    }
  }

  &__big-text {
    @include info-header;
    margin-bottom: 48px;
  }

  &__text {
    margin-bottom: 30px;
    color: $dark-grey;
  }

  &__price {
    @include big-item-header;
  }
}
