$black: #222222;
$dark-grey: #5E5E5E;
$white: #FFFFFF;
$pink-header: #F16D7F;
$pink: #F26376;
$form-pink: #E05C6E;
$grey: #C4C4C4;
$item-back: #F8F8F8;
$breadcrumbs-back: #F8F3F4;
$mobile-width: 767px;
$tablet-width: 1199px;
$intro-back: #F1E4E6;
$light-grey-border: 1px solid #EAEAEA
